{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "no-const-assign": "warn",
        "no-this-before-super": "warn",
        "no-unreachable": "warn",
        "no-unused-vars": "warn",
        "constructor-super": "warn",
        "valid-typeof": "warn",
        "quotes": [2, "single", { "allowTemplateLiterals": true }]
    }
}