.DS_Store
Thumbs.db
!.gitkeep

/bootstrap/compiled.php
/vendor
!.env.example.php
.env.php
.env

composer.phar
composer.lock

node_modules
npm-debug.log
.sass-cache
.vagrant
.idea

/resources/vendor

*.sublime-project
*.sublime-workspace

/assets/css/*
!/assets/css/.gitkeep
!/assets/css/dist

/assets/js/*
!/assets/js/.gitkeep
!/assets/js/dist
