<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title v-text="project_name + ' | Pattern Library'"></title>

    <!-- Pattern Library Stylesheets: DO NOT CHANGE -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <style>
        .ndpl-body                           { background-color: {{ theme.background_color }} !important; }
        .ndpl-nav__child-title.active        { background-color: {{ theme.brand_color }} !important; }
        .ndpl-header__project-url            { color: {{ theme.brand_color }} !important; border: 2px solid {{ theme.brand_color }} !important;  }
        .ndpl-header__project-url:hover      { background-color: {{ theme.brand_color }} !important; }
        .ndpl-copyright a,
        .ndpl-component__description a       { color: {{ theme.brand_color }} !important; text-decoration: none !important; }
        .ndpl-copyright a:hover,
        .ndpl-component__description a:hover { color: {{ theme.brand_color }} !important; text-decoration: underline !important;}
    </style>
    <link rel="stylesheet" :href="'bower_components/highlightjs/styles/' + theme.code_highlight_theme + '.css'">
    <link rel="stylesheet" href="assets/css/patterns.css">

    <!-- Font Libraries -->
    <link rel="stylesheet" v-if="font_libraries.google_web_fonts" v-bind:href="font_libraries.google_web_fonts">
    <link rel="stylesheet" v-if="font_libraries.typography_web_fonts" v-bind:href="font_libraries.typography_web_fonts">

    <!-- Custom stylesheets are loaded from the assets.css array in patterns.json -->
    <link rel="stylesheet" v-for="css in assets.css" v-bind:href="css">
</head>
<body class="ndpl-body" v-bind:class="{ 'ndpl-inverted': theme.invert_text }">
    <div class="ndpl-sidebar">
        <h2 class="ndpl-sidebar__title">Components</h2>
        <nav class="ndpl-nav">
            <ul class="ndpl-nav__items">
                <li class="ndpl-nav__item" v-for="group in groups">
                    <span class="ndpl-nav__title" v-text="group.title" v-on:click="openGroup"></span>

                    <ul class="ndpl-nav__child-items" v-if="group.components.length">
                        <li class="ndpl-nav__child-item" v-for="component in group.components">
                            <a v-bind:href="'#' + component.template" class="ndpl-nav__child-title" v-text="component.title" v-on:click="scrollToComponent"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="ndpl-copyright">
            <p>&copy; {{ copyright_year }} - <a class="ndpl-branded-anchor" href="{{ client_url }}" target="_blank">{{ client_name }}</a>.<br/>Pattern library created by <a href="{{ creator_url }}" target="_blank" >{{ creator }}</a>.</p>
        </div>
    </div>

    <div class="ndpl-library">
        <header class="ndpl-header">
            <h1 class="ndpl-header__title"><span v-text="project_name"></span> <small>Pattern Library</small></h1>
            <a class="ndpl-header__project-url ndpl-branded-anchor" :href="project_url" v-if="project_url" target="_blank">Visit the Project</a>
        </header>


        <div v-for="group in groups"  class="ndpl-library__group" v-bind:id="group.name">
            <h2 class="ndpl-library__title">{{ group.title }}</h2>

            <div v-for="component in group.components" class="ndpl-component" v-bind:id="component.template">
                <h3 class="ndpl-component__title">{{ component.title }} <small v-if="component.label" v-text="component.label"></small></h3>
                <div class="ndpl-component__description" v-html="component.description"></div>

                <div class="ndpl-component__sample" v-bind:class="{ 'ndpl-component__sample--inverted': component.dark_example_background }">
                    <span class="ndpl-component__label">Example</span>
                    {{{ component.html }}}
                </div>

                <div class="ndpl-component__code">
                    <span class="ndpl-component__label">Code</span>
                    <pre><code class="html" v-text="component.html"></code></pre>
                </div>
            </div>
        </div>

    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="bower_components/highlightjs/highlight.pack.min.js"></script>
    <script src="bower_components/vue/dist/vue.min.js"></script>
    <script src="bower_components/marked/lib/marked.js"></script>
    <script src="assets/js/patterns.js"></script>
</body>
</html>
