<nav class="nav nav--footer">
    <ul class="nav__items">
        <li class="nav__item">
            <a href="http://nodividestudio.com/our-work" target="_blank" class="nav__link">Our Work</a>
        </li>
        <li class="nav__item">
            <a href="http://nodividestudio.com/what-we-do" target="_blank" class="nav__link">What We Do</a>
        </li>
        <li class="nav__item">
            <a href="http://nodividestudio.com/who-we-are" target="_blank" class="nav__link">Who We Are</a>
        </li>
        <li class="nav__item">
            <a href="http://nodividestudio.com/our-journal" target="_blank" class="nav__link">Our Journal</a>
        </li>
        <li class="nav__item">
            <a href="http://nodividestudio.com/get-in-touch" target="_blank" class="nav__link">Get in Touch</a>
        </li>
    </ul>
</nav>