<nav class="nav nav--inverted">
    <ul clas="nav__items">
        <li class="nav__item"><a class="nav__link" href="#what-is-it">What is it?</a></li>
        <li class="nav__item"><a class="nav__link" href="https://github.com/NoDivide/astrum">Documentation</a></li>
        <li class="nav__item"><a class="nav__link" href="https://www.npmjs.com/package/astrum">View NPM package</a></li>
        <li class="nav__item"><a class="nav__link" href="https://github.com/NoDivide/astrum">View on GitHub</a></li>
        <li class="nav__item"><a class="nav__link" href="https://github.com/NoDivide/astrum/issues">Help & Support</a></li>
    </ul>
</nav>
