.site-footer {
    @extend .cf;

    &__legal,
    &__nav {
        padding: $bsu 0 0;
    }

    &__legal {
        @extend .small-text;
        color: color(site-footer, text);
        text-align: center;
        padding: $bsu $bsu 0;

        p {
            line-height: 2;
            margin: 0;
        }
    }

    &__nav {
        text-align: center;
    }

    &__logo {
        margin-top: $bsu;
        padding-bottom: $hsu;
        text-align: center;
    }

    @include media-query(3) {

        .site-footer__legal,
        .site-footer__nav {
            float: left;
            text-align: left;
        }

        .site-footer__legal {
            padding: $bsu $bsu * 1.5 $bsu $bsu * 2;
        }

        .site-footer__logo {
            float: right;
            margin-top: $hsu;
            padding-right: $bsu * 2;
            padding-bottom: 0;
        }
    }
}
