<nav class="nav nav--tabs">
    <ul class="nav__items">
        
        <li class="nav__item  tab  tab--one  active">
            <a href="#tab-theme" class="nav__link" v-show-tab="theme" container="browser-tabs">
                <div class="tab__icon">
                    <span class="icon icon--theme"></span>
                </div>
                <h3 class="tab__title">Theme to match your brand</h3>
                <p class="tab__body">
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae urna lorem, porta sed congue ut.
                </p>
            </a>
        </li>

    </ul>
</nav>
