/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
 * Set project brand variables first. These can then be included in the color map.
 * Details of how to use the color map can be found here: https://medium.com/p/clean-colour-management-with-sass-4d5e9bb4f1b2
 */
$brand-1: #000000;
$brand-2: #3C7189;
$brand-2: #15455B;
$brand-3: #218597;
$brand-4: #666666;
$brand-5: #A1CAD5;
$brand-6: #F3F3F3;
$brand-7: #FFFFFF;
$brand-8: #003544;
$brand-9: #616367;
$brand-10: #121212;
$brand-11: #C8D1D5;
$brand-12: #86C5DF;
$brand-13: #F469A7;
$brand-14: #62ABBE;
$brand-15: #F9F9F9;
$brand-16: #E0E0E0;
$brand-17: #404F57;
$brand-18: #2A383F;
$brand-19: #667279;
$brand-20: #F3F5F6;

$colors: (

    base: (
        body:           $brand-9,
        heading:        $brand-1,

        bg:             $brand-10,

        anchor:         $brand-3,
        anchor-hover:   darken($brand-3, 5%),
        anchor-visited: lighten($brand-3, 5%),

        table-border:   #DDD,
        table-stripe:   #F5F5F5,

        pull-quote: $brand-1
    ),

    state: (
        success-text:   #468847,
        success-bg:     #DFF0D8,
        success-border: darken(adjust-hue(#DFF0D8, -10), 5%),

        info-text:      #3A87AD,
        info-bg:        #D9EDF7,
        info-border:    darken(adjust-hue(#D9EDF7, -10), 7%),

        warning-text:   #C09853,
        warning-bg:     #FCF8E3,
        warning-border: darken(adjust-hue(#FCF8E3, -10), 5%),

        danger-text:    #B94A48,
        danger-bg:      #F2DEDE,
        danger-border:  darken(adjust-hue(#F2DEDE, -10), 5%)
    ),

    btn: (
        default-bg: transparent,
        default-bg-hover: transparent,
        default-border: $brand-16,
        default-border-hover: $brand-16,
        default-text: $brand-9,
        default-text-hover: $brand-9,
        inverted-bg: transparent,
        inverted-bg-hover: $brand-3,
        inverted-border: $brand-3,
        inverted-border-hover: $brand-3,
        inverted-text: $brand-7,
        inverted-text-hover: $brand-7,
        primary-bg: $brand-3,
        primary-bg-hover: $brand-7,
        primary-border: $brand-3,
        primary-border-hover: $brand-7,
        primary-text: $brand-7,
        primary-text-hover: $brand-2,
    ),

    modal: (
        overlay: $brand-1,
        content: $brand-7,
        inverted-close: $brand-7,
        close: $brand-7
    ),

    nav: (
        link: $brand-1,
        link-hover: $brand-1,
        border: $brand-3,

        link-inverted: rgba($brand-7, 0.7),
        link-hover-inverted: $brand-7,
        border-inverted: $brand-7,

        link-footer: $brand-3,
        border-footer: rgba($brand-3, 0.4),

        fixed-bg: $brand-7
    ),

    site-header: (
        text: $brand-7,
        bg: $brand-8
    ),

    site-footer: (
        text: $brand-9
    ),

    section: (
        icon: $brand-12,
        highlighted-bg: $brand-15,
        highlighted-border: $brand-16,
        split-bg: $brand-2,
        split-text: $brand-7,
        split-icon: $brand-3
    ),

    tab: (
        border: $brand-6,
        border-one: $brand-14,
        border-two: $brand-13,
        border-three: $brand-12,
        body: $brand-9,
        icon-hover: $brand-7
    ),

    browser: (
        header-bg: $brand-20,
        bg: $brand-11,
        bar: $brand-7,
        button: $brand-7
    ),

    terminal: (
        header-bg: $brand-17,
        bg: $brand-18,
        button: $brand-19,
        text: $brand-7
    ),

    chalk: (
        white: #FFFFFF,
        grey: #979797,
        green: #BBE6BD,
        yellow: #FEE084,
        blue: #99CAF4
    )
);
