/*------------------------------------*\
    $PROJECT
\*------------------------------------*/
/**
 * Aliases
 */
$bsu: $base-spacing-unit;
$hsu: $half-spacing-unit;


/**
 * Components
 * ----------------------------------------//
 */
$use-typography:  true;
$use-nav:         true;


/**
 * Font stacks
 * ------------------------------//
 */
$sans-serif-stack: "source-sans-pro", "helvetica", sans-serif;
$mono-stack: "fira-mono", monospace;


/**
 * Font stack weights
 * -----------------------------//
 * Override with weights provided by the font service.
 * Some fonts use different wording for different weights
 * for example "medium" or "book". These are usually instead
 * of "regular" so seens as we're abstracting the font-stack
 * usage here it's advised to use the weight names listed here.
 */
$sans-serif-weights: ( regular:   400,
                       semibold:  600,
                       bold:      700 );
$mono-weights: ( regular: 400 );


/**
 * Once you specified your font-stacks and weights
 * add them to these map variables
 */
$stack-map:   (sans-serif: $sans-serif-stack, mono: $mono-stack);
$weights-map: (sans-serif: $sans-serif-weights, mono: $mono-weights);
$spacing-map: (sans-serif: 0, mono: 0);

/**
 * Typescale
 * ------------------------------//
 */
$tera:    104;
$giga:    80;
$mega:    60;
$alpha:   48;
$beta:    36;
$gamma:   23;
$delta:   18;
$epsilon: 16;
$zeta:    16;


/**
 * Breakpoints
 * ------------------------------//
 */
$grid-breakpoint-widths:       30em, 48em, 60em, 70em;
