<div class="team">
    <ul class="team__items">
        <li class="team__item">
            <img class="team__avatar team__avatar--color" src="http://nodivide.imgix.net/content/avatars/dan-edwards.jpg?q=50&amp;w=1596&amp;fit=max&amp;dpr=2" alt=" ">
            <img class="team__avatar team__avatar--bw" src="http://nodivide.imgix.net/content/avatars/dan-edwards.jpg?q=50&amp;w=1596&amp;fit=max&amp;dpr=2&amp;sat=-100&amp;con=20&amp;bri=5" alt=" ">

            <header class="team__header">
                <h4 class="team__name">Dan Edwards</h4>

                <p class="team__job-title">Creative Director</p>
            </header>
            <div class="team__bio">
                <div class="team__content">
                    <p>Dan has been working as a designer for over 8 years with clients such as O2, Badoo, First Round Capital and Sharp. He won <a href="https://thenetawards.com/previous-winners/" target="_blank">Young Designer of the Year</a> at the 2013 net Awards and is a regular contributor to the magazine. He also speaks at conferences about design and running a creative business.</p>

                    <ul class="social ">
                        <li class="social__item"><a href="http://twitter.com/@de" target="_blank" title="Follow on Twitter"><span class="icon icon--twitter"></span></a></li>
                        <li class="social__item"><a href="http://dribbble.com/de" target="_blank" title="Design snippets on Dribbble"><span class="icon icon--dribbble"></span></a></li>
                        <li class="social__item"><a href="http://instagram.com/dangrom" target="_blank" title="Photos on Instagram"><span class="icon icon--instagram"></span></a></li>
                        <li class="social__item"><a href="skype:danedwards.me" target="_blank" title="Contact on Skype"><span class="icon icon--skype"></span></a></li>
                        <li class="social__item"><a href="http://medium.com/@de" target="_blank" title="Articles on Medium"><span class="icon icon--medium"></span></a></li>
                    </ul>
                    <div class="team__close"><span class="icon icon--cross"></span> Close</div>
                </div>
            </div>
        </li>
    </ul>
</div>