<div class="clients">
    <ul class="clients__items">
        <li class="clients__item"><img src="http://nodivide.imgix.net/content/clients/1st-round.png?q=50&amp;w=1596&amp;fit=max&amp;dpr=2" alt="1st Round"></li>
        <li class="clients__item"><img src="http://nodivide.imgix.net/content/clients/o2.png?q=50&amp;w=1596&amp;fit=max&amp;dpr=2" alt="O2"></li>
        <li class="clients__item"><img src="http://nodivide.imgix.net/content/clients/itv.png?q=50&amp;w=1596&amp;fit=max&amp;dpr=2" alt="Itv"></li>
        <li class="clients__item"><img src="http://nodivide.imgix.net/content/clients/breast-cancer-care.png?q=50&amp;w=1596&amp;fit=max&amp;dpr=2" alt="Breast Cancer Care"></li>
        <li class="clients__item"><img src="http://nodivide.imgix.net/content/clients/nokia.jpg?q=50&amp;w=1596&amp;fit=max&amp;dpr=2" alt="Nokia"></li>
        <li class="clients__item"><img src="http://nodivide.imgix.net/content/clients/badoo.png?q=50&amp;w=1596&amp;fit=max&amp;dpr=2" alt="Badoo"></li>
        <li class="clients__item"><img src="http://nodivide.imgix.net/content/clients/charitybank.jpg?q=50&amp;w=1596&amp;fit=max&amp;dpr=2" alt="Charitybank"></li>
        <li class="clients__item"><img src="http://nodivide.imgix.net/content/clients/herself.jpg?q=50&amp;w=1596&amp;fit=max&amp;dpr=2" alt="Herself"></li>
        <li class="clients__item"><img src="http://nodivide.imgix.net/content/clients/tribal.jpg?q=50&amp;w=1596&amp;fit=max&amp;dpr=2" alt="Tribal"></li>
        <li class="clients__item"><img src="http://nodivide.imgix.net/content/clients/instate.jpg?q=50&amp;w=1596&amp;fit=max&amp;dpr=2" alt="Instate"></li>
        <li class="clients__item"><img src="http://nodivide.imgix.net/content/clients/sol.png?q=50&amp;w=1596&amp;fit=max&amp;dpr=2" alt="Sol"></li>
        <li class="clients__item"><img src="http://nodivide.imgix.net/content/clients/mode.jpg?q=50&amp;w=1596&amp;fit=max&amp;dpr=2" alt="Mode"></li>
    </ul>
</div>