/**
 * Astrum Pattern Library Override Styles
 * ----------------------------------------//
 */
.logo {
    margin-bottom: 26px;
    
    + .logo {
        margin-bottom: 0;
    }
}

.ndpl-component__sample > .icon {
    font-size: 28px;
    margin-right: 13px;
}

.nav--primary {
    margin-top: 0;
    position: relative;
}