/**
 * Base styles
 * ----------------------------------------//
 */
.ndpl-body {
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
}
.ndpl-header,
.ndpl-sidebar,
.ndpl-intro,
.ndpl-library__title,
.ndpl-component__title,
.ndpl-component__description,
.ndpl-component__label {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

/**
 * Intro
 * ----------------------------------------//
 */
.ndpl-intro {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
}
    .ndpl-intro code {
        background-color: #FFF;
        border-radius: 6px;
        color: #999;
        display: inline-block;
        padding: 0 4px;
    }

/**
 * Sidebar
 * ----------------------------------------//
 */
.ndpl-sidebar {
    background-color: #FFF;
    border-right: 1px solid #DDD;
    bottom: 0;
    left: 0;
    padding: 24px;
    position: fixed;
    top: 0;
    width: 302px;
    z-index: 1;
}
    .ndpl-sidebar__title {
        font-size: 21px;
        margin: 21px 0;
    }
    .ndpl-sidebar__title a,
    .ndpl-sidebar__title a:focus,
    .ndpl-sidebar__title a[href]:focus {
        color: #484848 !important;
        text-decoration: none;
    }
    .ndpl-sidebar__title a:hover,
    .ndpl-sidebar__title a[href]:hover{
        color: #484848 !important;
    }

/**
 * Copyright
 * ----------------------------------------//
 */
.ndpl-copyright {
    left: 24px;
    bottom: 12px;
    font-size: 12px;
    line-height: 21px;
    position: absolute;
    right: 24px;
}
    .ndpl-copyright p {
        color: #9F9F9F;
        margin: 0 0 12px;
    }

/**
 * Navigation
 * ----------------------------------------//
 */
.ndpl-nav {
    padding: 6px 0;
}
.ndpl-nav__items {
    list-style: none;
    margin: 0;
    padding: 0;
}
    .ndpl-nav__item {
        position: relative;
    }
    .ndpl-nav__title {
        border-bottom: 1px solid #DDD;
        color: #484848;
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 6px 0;
    }
        .ndpl-nav__item:first-of-type .ndpl-nav__title {
            border-top: 1px solid #DDD;
        }
    .ndpl-nav__arrow {
        margin: -4px 0 0;
        opacity: 0.25;
        position: absolute;
        right: 12px;
        top: 18px;
        width: 16px;
    }
        .open .ndpl-nav__arrow {
            transform: rotate(180deg);
        }
    .ndpl-nav__child-items {
        display: none;
        font-size: 14px;
        list-style: none;
        margin: 6px 0;
        min-height: 0;
        padding: 0;
    }
        .open .ndpl-nav__child-items {
            display: block;
        }
    .ndpl-nav__child-item {
        border-radius: 4px;
        margin-bottom: 6px;
    }

    .ndpl-nav__child-title {
        border-radius: 3px;
        color: #484848;
        display: block;
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        padding: 6px 12px;
        text-decoration: none;
    }
        .ndpl-nav__child-title:focus,
        .ndpl-nav__child-title[href]:focus {
            color: #484848;
        }
        .ndpl-inverted .ndpl-nav__child-title.active {
            color: #FFF;
        }
        .ndpl-inverted .ndpl-nav__child-title.active:hover {
            color: #FFF !important;
        }
        .ndpl-nav__child-title:hover {
            color: #000 !important;
            background-color: #EEE;
        }

/**
 * Header
 * ----------------------------------------//
 */
.ndpl-header {
    border-bottom: 1px solid #DDD;
    margin-bottom: 36px;
    padding-bottom: 24px;
    position: relative;
    z-index: 2;
}
    .ndpl-header:after {
        clear: left;
        content: "";
        display: block;
    }
.ndpl-header__title {
    color: #484848;
    font-size: 42px;
    font-weight: 700;
    line-height: 46px;
    float: left;
    margin: 0;
}
    .ndpl-header__title small {
        font-size: 50%;
        font-weight: 300;
    }
.ndpl-header__project-url {
    border-radius: 6px;
    float: right;
    font-size: 14px;
    line-height: 42px;
    padding: 0 24px;
    position: relative;
    top: -3px;
    text-decoration: none;
    text-transform: uppercase;
}
.ndpl-header__project-url:hover {
    color: #484848 !important;
}
.ndpl-inverted .ndpl-header__project-url:hover {
    color: #FFF !important;
}

/**
 * Component Library
 * ----------------------------------------//
 */
.ndpl-library {
    padding: 24px 48px 24px 350px;
}
    .ndpl-library__title {
        color: #484848;
        border-bottom: 1px solid #DDD;
        font-size: 36px;
        font-weight: 400;
        margin: 0 0 48px;
        padding-bottom: 12px;
    }

/**
 * Component 
 * ----------------------------------------//
 */
.ndpl-component {
    background-color: #FFF;
    border-radius: 12px;
    margin-bottom: 48px;
    padding: 32px 24px;
}
    .ndpl-component__title {
        color: #484848;
        font-size: 30px;
        font-weight: 300;
        margin: 0 0 24px;
    }
    .ndpl-component__title small {
        font-size: 50%;
        font-style: italic;
        margin: 0;
    }
    .ndpl-component__description {
        color: #484848;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 48px;
    }
        .ndpl-component__description p {
            margin: 0 0 24px;
        }
        .ndpl-component__description code {
            background-color: #EEE;
            border-radius: 6px;
            color: #999;
            display: inline-block;
            padding: 0 4px;
        }
    .ndpl-component__sample {
        border: 1px solid #DDD;
        border-radius: 12px;
        margin-bottom: 24px;
        padding: 48px 24px;
        position: relative;
    }
        .ndpl-component__sample:after {
            clear: both;
            content: "";
            display: block;
        }
        .ndpl-component__sample--inverted {
            background-color: #333;
        }
        .ndpl-component__sample .ndpl-component__label {
            background-color: #FFF;
            border: 1px solid #DDD;
            border-radius: 6px;
            font-size: 12px;
            line-height: 24px;
            height: 24px;
            left: 24px;
            padding: 0 9px;
            position: absolute;
            text-transform: uppercase;
            top: -12px;
        }
    .ndpl-component__code {
        position: relative;
    }
        .ndpl-component__code pre {
            margin-bottom: 0;
        }
        .ndpl-component__code code {
            border-radius: 12px;
            font-size: 14px;
            padding: 24px;
        }
        .ndpl-component__code .ndpl-component__label {
            background-color: #FFF;
            border: 1px solid #DDD;
            border-radius: 6px;
            font-size: 12px;
            line-height: 24px;
            height: 24px;
            left: 24px;
            padding: 0 9px;
            position: absolute;
            text-transform: uppercase;
            top: -12px;
        }
