.DS_Store
Thumbs.db
!.gitkeep

/bootstrap/compiled.php
/vendor
!.env.example.php
.env.php

composer.phar
composer.lock

node_modules
.sass-cache
.vagrant
.idea

/resources/vendor
/public/demos

*.sublime-project
*.sublime-workspace