/**
 * Typography
 * ----------------------------------------//
 */
/**
 * Headings
 */
h1,h2,h3,h4,h5,h6 {
    @extend .bold;
    margin-bottom: $hsu;
}
h4,h5,h6 {
    line-height: 1.6;
}

/**
 * Paragraphs
 */
p {
    line-height: 1.6;
}

/**
 * Anchors
 */
a:visited:hover {
    color: color(base, anchor-hover);
}

/**
 * Pre
 */
pre,
pre code {
    @extend .mono, .small-text;
}