/**
 * Buttons
 * ----------------------------------------//
 */
.btn {
    @extend .light;

    background-color: color(btn, default-bg);
    border: 1px solid color(btn, default-border);
    border-radius: 4px;
    color: color(btn, default-text);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    padding: $hsu $bsu * 1.125;
    text-decoration: none;
    transition: all .25s ease;

    &:active,
    &:focus,
    &:visited,
    &[href]:active,
    &[href]:focus,
    &[href]:visited {
        color: color(btn, default-text);
    }

    &:hover,
    &:visited:hover {
        background-color: color(btn, default-bg-hover);
        border: 1px solid color(btn, default-border-hover);
        color: color(btn, default-text-hover);
    }

    .icon {
        font-size: 1em;
    }

    /**
     * Inverted modifier.
     * ----------------------------------------//
     */
    &--inverted {
        background-color: color(btn, inverted-bg);
        border: 1px solid color(btn, inverted-border);
        color: color(btn, inverted-text);

        &:active,
        &:focus,
        &:visited,
        &[href]:active,
        &[href]:focus,
        &[href]:visited {
            color: color(btn, inverted-text);

            .icon {
                color: color(btn, inverted-text);
            }
        }

        &:hover,
        &:visited:hover {
            background-color: color(btn, inverted-bg-hover);
            border: 1px solid color(btn, inverted-border-hover);
            color: color(btn, inverted-text-hover);
        }
    }



    /**
     * Play Button
     */
    &--play {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        padding: 0;
        border: 0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        text-align: center;
        transition: all 200ms ease;

        background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.05) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.05) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.05) 100%);

        &:active,
        &:focus,
        &:visited
        &[href]:active,
        &[href]:focus,
        &[href]:visited {
            color: color(btn, inverted-text);
        }

        &:hover,
        &:visited:hover {
            color: color(btn, inverted-text-hover);
            border: 0;
            background: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.15) 100%);
            background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.15) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.15) 100%);
        }

        .icon {
            color: color(btn, inverted-text);
            font-size: 18px;
            line-height: 18px;
            position: relative;
            top: $bsu;
            text-shadow: 0 1px 2px rgba(0,0,0,0.5);
        }
    }


    /**
     * Reveal button
     */
    &--reveal {
        min-width: 140px;
        text-align: center;
        padding: $hsu $hsu * 1.5;

        .icon {
            display: none;
            vertical-align: middle;
            float: right;
        }

        &:hover,
        &:focus {

            .icon {
                display: inline-block;
            }
        }
    }
    &--reveal-wide {
        min-width: 196px !important;
    }

    /**
     * Primary button
     */
    &--primary {
        background-color: color(btn, primary-bg);
        border: 1px solid color(btn, primary-border);
        color: color(btn, primary-text);

        &:active,
        &:focus,
        &:visited,
        &[href]:active,
        &[href]:focus,
        &[href]:visited {
            background-color: color(btn, primary-bg);
            border: 1px solid color(btn, primary-border);
            color: color(btn, primary-text);
        }

        &:hover,
        &:visited:hover {
            background-color: color(btn, primary-bg-hover);
            border: 1px solid color(btn, primary-border-hover);
            color: color(btn, primary-text-hover);
        }
    }


    /**
     * Icon button
     */
    &--icon {
        padding-left: $bsu * 1.125 + 16px + $hsu;
        position: relative;

        .icon {
            left: $bsu;
            margin-top: -8px;
            position: absolute;
            top: 50%;
        }
    }
}
