@font-face {
    font-family: 'icomoon';
    src:    url('/assets/fonts/icomoon.eot?rmh4a2');
    src:    url('/assets/fonts/icomoon.eot?rmh4a2#iefix') format('embedded-opentype'),
        url('/assets/fonts/icomoon.woff2?rmh4a2') format('woff2'),
        url('/assets/fonts/icomoon.ttf?rmh4a2') format('truetype'),
        url('/assets/fonts/icomoon.woff?rmh4a2') format('woff'),
        url('/assets/fonts/icomoon.svg?rmh4a2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon--helpers:before {
    content: "\e903";
}
.icon--responsive:before {
    content: "\e905";
}
.icon--theme:before {
    content: "\e906";
}
.icon--menu:before {
    content: "\e909";
}
.icon--close:before {
    content: "\e908";
}
.icon--arrow:before {
    content: "\e900";
}
.icon--documentation:before {
    content: "\e901";
}
.icon--help:before {
    content: "\e902";
}
.icon--play:before {
    content: "\e904";
}
.icon--command:before {
    content: "\e907";
}
