.intro {
    margin-top: 60px;

    &__title {
        margin: 0 auto $hsu * 1.7;
    }

    &__body {
        @extend .small-text;

        opacity: .2;
    }

    &__actions {
        margin-top: $bsu * 1.8;
    }
}
