/**
 * Logo
 * ----------------------------------------//
 */
.logo {
    background: transparent url(/assets/images/site/logo.svg) center no-repeat;
    background-size: 100% auto;
    height: 54px;
    text-indent: -9999px;
    width: 345px;
    position: relative;

    &--inverted {
        background-image: url(/assets/images/site/logo--inverted.svg);
    }

    &--flare {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 170%;
            height: 100%;

            background-image: url(http://nd-bin.imgix.net/astrum/logo-blur.png?q=100);
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: 100% 0;
        }
    }

    &--small {
        height: 16px;
        width: 106px;
    }

    &--large {
        height: 81px;
        width: 517px;
    }

    &--no-divide {
        background-image: url(http://nd-bin.imgix.net/no-divide/logo.svg);
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        display: inline-block;
        height: 50px;
        text-indent: -9999px;
        width: 72px;
    }
}
