.nav {

    &__toggle {
        color: color(nav, link-inverted);
        padding: $hsu * 1.4 0;
        text-decoration: none;
        display: block;
        text-transform: uppercase;

        &:visited,
        &[href]:visited {
            color: color(nav, link-inverted);
        }

        &:hover,
        &:focus {
            color: color(nav, link-hover-inverted);
            border-color: color(nav, border-inverted);
        }

        .icon {
            font-size: 12px;
            line-height: 12px;
            margin-right: $hsu * .8;
        }

        @include media-query(2) {
            display: none;
        }
    }

    &__items {

    }

    &__item {
        margin: 0 $hsu * 1.4;

        &:last-of-type .nav__link {
            border: none;

            @include media-query(2) {
                border-bottom: 2px solid transparent;

                &:hover,
                &:focus {
                    border-color: color(nav, border);
                }
            }
        }
    }

    &__link {
        @extend .small-text, .semibold;

        display: inline-block;
        border-bottom: 2px solid transparent;
        padding: $hsu * 1.4 0;
        text-decoration: none;

        color: color(nav, link);
        transition: all .25s ease;

        &:visited {
            color: color(nav, link);
        }

        .nav__item--active &,
        &:hover,
        &:focus {
            color: color(nav, link-hover);
            border-color: color(nav, border);
        }
    }

    &--primary {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        .nav__items {
            display: none;
            margin: 0 auto;
            width: 100%;
            max-width: 960px;
        }

        .nav__item {
            display: block;
            text-align: left;
        }

        .nav__link {
            display: block;
        }

        &.open {
            background: rgba(0,0,0,0.85);
            z-index: 15;
            padding-bottom: $hsu;

            .nav__items {
                display: block;
            }
        }

        @include media-query(2) {
            margin-top: $bsu;

            .nav__items {
                display: block;
                border-bottom: 1px solid rgba(255,255,255,0.1);
            }

            .nav__item {
                display: inline-block;
                text-align: center;
            }
        }
    }

    &--inverted {

        .nav__link {
            color: color(nav, link-inverted);

            .nav__item--active &,
            &:hover,
            &:focus {
                color: color(nav, link-hover-inverted);
                border-color: color(nav, border-inverted);
            }
        }

        @include media-query(2) {
            .nav__item:last-of-type .nav__link:hover,
            .nav__item:last-of-type .nav__link:focus {
                border-color: color(nav, border-inverted);
            }
        }
    }

    &--footer {

        .nav__item {
            margin: 0 $hsu 0 0;

            &:last-of-type {
                margin-right: 0;
            }
        }

        .nav__link {
            @extend .regular;

            padding: 0;
            border-bottom: 1px solid transparent;

            color: color(nav, link-footer);

            &:visited {
                color: color(nav, link-footer);
            }

            .nav__item--active &,
            &:hover,
            &:focus {
                color: color(nav, link-footer);
                border-color: color(nav, border-footer);
            }
        }

        @include media-query(2) {
            .nav__item:last-of-type .nav__link:hover,
            .nav__item:last-of-type .nav__link:focus {
                border-bottom-width: 1px;
                border-color: color(nav, border-footer);
            }
        }
    }

    &--tabs {

        .nav__items {
            margin: 0 0 $bsu * 2;
        }

        .nav__item {
            display: block;

            .nav__link {
                border-bottom: 0;
                padding: $bsu 0;
            }
        }

        @include media-query(3) {
            float: left;

            .nav__items {
                width: 440px;
                float: left;
                margin: 0;

                .section--terminal & {
                    width: 340px;
                    margin-top: $bsu;
                }
            }
        }
    }


    .logo {
        display: none;
    }


    &--fixed {
        @extend .cf;

        top: 0;
        left: 0;
        width: 100%;
        margin-top: 0;
        background: color(nav, fixed-bg);
        z-index: 10;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);

        @include media-query(3) {
            position: fixed;
        }

        .logo {
            display: inline-block;
            float: left;
            margin-left: $bsu * 2;
            margin-top: $bsu * .7;
        }

        .nav__items {
            float: right;
            width: auto;
            max-width: none;
            border-bottom: 0;
            padding: 0 $bsu * 2;
        }

        .nav__link {
            color: color(nav, link);
            padding: $hsu 0;

            &:visited {
                color: color(nav, link);
            }

            .nav__item--active &,
            &:hover,
            &:focus {
                color: color(nav, link-hover);
                border-color: color(nav, border);
            }
        }

        @include media-query(2) {
            &.nav--inverted .nav__item:last-of-type .nav__link:hover,
            &.nav--inverted .nav__item:last-of-type .nav__link:focus {
                border-color: color(nav, border);
            }
        }
    }
}
