.section {

    &__row {
        max-width: 1440px;
        margin: 0 auto;
    }

    &__icon {
        color: color(section, icon);

        display: inline-block;
        width: 76px;
        height: 52px;
        border-radius: 40px;
        border: 1px solid color(section, icon);
        padding-top: 24px;
        margin-bottom: $bsu * 1.5;

        .icon {
            font-size: 26px;
            line-height: 26px;
        }
    }

    &__title {
        @extend .large-text, .semibold;

        margin-bottom: $bsu;

        &:after {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: color(base, heading);
            margin-top: $hsu;
            position: relative;
        }
    }

    &__header {
        margin: 0 $bsu $bsu * 2;

        @include media-query(3) {
            max-width: 50%;
            margin: 0 auto $bsu * 2;
        }
    }

    &__body {
        @extend .cf;
    }

    &--text-block {
        margin: 0 auto;
        max-width: 970px;
        padding: $bsu * 2 $bsu $bsu;

        @include media-query(2) {
            padding-top: 100px;
        }
    }

    &--centered {

        .section__header {
            text-align: center;
        }

        .section__title {
            text-align: center;

            &:after {
                margin: $hsu auto 0;
            }
        }
    }

    &--tabs {

        .section__body {
            padding: $hsu;
        }

        @include media-query(2) {
            margin-top: -60px;

            .nav--tabs {
                margin-top: $bsu * 2;
            }

            .section__body {
                padding: $bsu * 2;
            }
        }
    }

    &--highlighted {
        background-color: color(section, highlighted-bg);
        border-top: 1px solid color(section, highlighted-border);
        padding: $bsu * 2.5 0 $bsu * 3.5;
    }

    &--terminal {

        .section__body {
            max-width: 1020px;
            margin: 0 auto;
        }

        @include media-query(3) {

            .terminal {
                margin: 0 300px 0 0;
            }

            .nav--tabs {
                float: right;

                .nav__items {
                    width: 280px;
                }
            }
        }
    }

    &--split {
        @extend .cf;

        background-color: color(section, split-bg);
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background-image: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);

        .section__title {
            @extend .medium-text;

            color: color(section, split-text);
            margin-top: $bsu * .9;

            &:after {
                background-color: color(section, split-text);
            }
        }

        .section__body {
            color: color(section, split-text);

            > .icon {
                color: color(section, split-icon);
                font-size: 30px;
                line-height: 30px;
            }

            p {
                opacity: 0.5;
            }
        }

        .section__col {
            @extend .cf;

            &:first-child {
                background-color: rgba(33, 133, 151, 0.1);
            }
        }

        .section__body {
            @extend .regular-text;
            padding: $bsu * 2.5 $bsu * 2 $bsu * 3.5 $bsu;

            .btn {

                &:last-of-type {
                    margin-top: $hsu;
                }
            }
        }


        @include media-query(3) {
            display: flex;

            .section__col {
                width: 50%;

                &:first-child .section__body {
                    float: right;
                }
            }

            .section__body {
                max-width: 430px;

                .btn {
                    margin-right: $hsu;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
