.tab {
    @extend .cf;

    opacity: 1;
    transition: opacity 200ms ease;
    border-bottom: 1px solid color(tab, border);

    &:last-child {
        border-bottom: 0;
    }

    &__icon {
        float: left;
        width: 76px;
        height: 52px;
        border-radius: 40px;
        border: 1px solid color(tab, border-one);
        color: color(tab, border-one);
        text-align: center;
        padding-top: 24px;
        margin-top: 8px;
        background-color: transparent;
        transition: all 200ms ease;

        .icon {
            font-size: 28px;
            line-height: 28px;
        }

        .tab--one & {
            border-color: color(tab, border-one);
            color: color(tab, border-one);
        }

        .tab--two & {
            border-color: color(tab, border-two);
            color: color(tab, border-two);

            .icon {
                position: relative;
                left: 2px;
            }
        }

        .tab--three & {
            border-color: color(tab, border-three);
            color: color(tab, border-three);
        }
    }

    &__title,
    &__body {
        margin-left: 76px;
        padding-left: $bsu * 1.2;
    }

    &__title {
        @extend .medium-text, .semibold;
    }

    &__body {
        @extend .regular-text, .regular;
        margin-bottom: 0;
        color: color(tab, body);
        line-height: 1.4;
    }


    &--small {

        border-bottom: 0;

        &.nav__item .nav__link {
            padding: $hsu * .8 0;
        }

        .tab__icon {
            @extend .regular-text;
            width: 40px;
            height: 40px;
            padding-top: 0;
            line-height: 40px;
            vertical-align: middle;
            text-indent: -3px;
        }

        .tab__title {
            margin-top: $bsu * .75;
            margin-left: 40px;
            padding-left: $hsu;
        }
    }


    &:hover,
    &:focus {
        opacity: 1;
    }


    &.active {
        opacity: 1;

        .tab__icon {
            background-color: color(tab, border-one);
            color: color(tab, icon-hover);
        }

        &.tab--one .tab__icon {
            background-color: color(tab, border-one);
        }

        &.tab--two .tab__icon {
            background-color: color(tab, border-two);
        }

        &.tab--three .tab__icon {
            background-color: color(tab, border-three);
        }

    }

    /**
     * Media query adjustments
     */
    @include media-query(3) {
        opacity: 0.4;
    }
}
