.terminal {
    border-radius: global(border-radius);
    background-color: color(terminal, bg);
    margin: 0 $hsu;

    &__header {
        background-color: color(terminal, header-bg);
        padding: 0 $hsu;
        border-radius: global(border-radius) global(border-radius) 0 0;
        height: 26px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }

    &__button {
        width: 10px;
        height: 10px;
        margin-top: 8px;
        margin-right: 5px;
        border-radius: 5px;
        background-color: color(terminal, button);
        float: left;
    }

    &__body {
        color: color(terminal, text);
        margin: $bsu;
        min-height: 190px;
        overflow: hidden;
        padding-bottom: $bsu;
    }

    @include media-query(3) {

        &__body {

            span {
                @include type-scale(11);
            }
        }
    }
}
