<span class="icon icon--mark"></span>
<span class="icon icon--cross"></span>
<span class="icon icon--location"></span>
<span class="icon icon--arrow"></span>
<span class="icon icon--new-window"></span>
<span class="icon icon--envelope"></span>

<span class="icon icon--medium"></span>
<span class="icon icon--linkedin"></span>
<span class="icon icon--instagram"></span>
<span class="icon icon--facebook"></span>
<span class="icon icon--skype"></span>
<span class="icon icon--dribbble"></span>
<span class="icon icon--twitter"></span>
<span class="icon icon--github"></span>