<div class="terminal">
    <div class="terminal__header">
        <div class="terminal__button"></div>
        <div class="terminal__button"></div>
        <div class="terminal__button"></div>
    </div>
    <div class="terminal__body">
        <span class="mono">$ npm install -g astrum</span>
        <span class="mono">$ cd project-folder</span>
        <span class="mono">$ astrum init ./public/library</span>
        <span class="mono"> </span>
        <span class="mono mono--no-wrap mono--grey">----------------------------------------------------------------</span>
        <span class="mono mono--green">&#10003; Pattern library initialized successfully.</span>
        <span class="mono mono--no-wrap mono--grey">----------------------------------------------------------------</span>
        <span class="mono"> </span>
        <span class="mono mono--no-wrap mono--yellow">To get started add your first component using:</span>
        <span class="mono"> </span>
        <span class="mono mono--no-wrap mono--yellow">$ astrum new [group_name/component_name]</span>
        <span class="mono"> </span>
        <span class="mono mono--no-wrap mono--yellow">To customise your pattern library locate your data.json file</span>
        <span class="mono mono--no-wrap mono--yellow">in ./public/library/ and add your project details.</span>
        <span class="mono"></span>
    </div>
</div>
